
.pagination {
	overflow: hidden;
	display: table;
	height: 50px;
	margin: 10px auto;	
}

.pagination li {
	float: left;
	height: 40px;
	border-radius: 5px;
	margin: 10px 3px;
	color: #666;
	background: #42B983;
	padding: 2px;
}

.pagination li:hover {
	background: #666666;
}

.pagination li a {
	color: #fff;
}

.pagination li a {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border-radius: 5px;
	text-decoration: none;
}

.pagination li.active {
	background: #2C3E50;
}
.pagination li.disabled{
	background: #2C3E50;
}

.pagination li .active a {
	color: #fff;
}